@page
@model WebAppDETAug2022.Pages.HeloWebModel
@{
}
<h2>Welcome to my site11</h2>
<h3>Happy @DateTime.Today.DayOfWeek</h3>

Page Says @Model.Message

<p>Discount for today @Model.Discount%</p>
<h5>Offer valid till @DateTime.Today.AddDays(32)</h5>
